.box {
  width: 100px;
  height: 100px;
}

.a {
  background-color: red;
}

.b {
  background-color: orange;
}

.c {
  background-color: yellow;
}

.d {
  background-color: green;
}

.e {
  background-color: blue;
}

.f {
  background-color: navy;
}

.g {
  background-color: purple;
}

.boxes {
  display: flex;
  justify-content: space-between;
}

.bc {
  display: flex;
}
